openai
langchain-groq
pymupdf
arxiv
validators==0.28.1
pytube
numexpr
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain_community
langchain_core
streamlit
